PORT=3000
ADMIN_PORT=3001
PAY_PROXY_PORT=5000
CALLBACK_PORT=5001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=game_db
DB_PORT=3306
PAY_API_URL=https://testurl.carespay.com:28081/carespay/pay 